@model COMP003B.SP25.FinalProject.TanM.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
    </dl>
</div>

<!-- Display all of the places for the client -->
<div class="col-md-4"
    <h4>Places</h4>
    <ul>
        @foreach (Place place in ViewBag.Places)
        {
            <li>@place.Name</li>
        }
    </ul>
</div>
<!-- Display all of the fees for the client -->
<div class="col-md-4">
    <h4>Fees</h4>
    <ul>
        @foreach (Fee fee in ViewBag.Fees)
        {
            <li>@fee.TotalDue</li>
        }
    </ul>
</div>
<!-- Display all bookings for the client -->
<div class="col-md-4">
    <h4>Bookings</h4>
    <ul>
        @foreach (Booking booking in ViewBag.Bookings)
        {
            <li>@booking.ResidencyAddress</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
