@model COMP003B.SP25.FinalProject.TanM.Models.Booking

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidencyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidencyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookStatus)
        </dd>
    </dl>
</div>

<!-- Display clients in the booking -->
<div class="col-md-4">
    <h4>Clients</h4>
    <ul>
        @foreach (Client client in ViewBag.Clients)
        {
            <li>@client.Name</li>
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
