@model IEnumerable<COMP003B.SP25.FinalProject.TanM.Models.Fee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumMembership)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumMembership)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
